site
docs/tutorials/*.md
docs/tutorials/Working_with_mmCIF_Structures_in_DataFrames_files/*
docs/tutorials/Working_with_MOL2_Structures_in_DataFrames_files/*
docs/tutorials/Working_with_PDB_Structures_in_DataFrames_files/*
docs/tutorials/data/3eiy_stripped.pdb.gz
docs/tutorials/data/*output/
docs/tutorials/data/aligned_structures/
docs/api_subpackages/
docs/api_modules
docs/py-docstring-parser/
docs/site/
docs/sources/api_modules/
build/
dist/
MANIFEST
.coverage

.ipynb_checkpoints

*.sqlite
gmon.out
__pycache__
*.pyc
*.o
*.so
*.gcno
*.swp
*.egg-info
*.egg
*~
build
dist
lib/test
doc/_build
*env
*ENV
.DS_store
.idea
/biopandas/align/USalign.exe
/biopandas/align/USalign
