language: python
virtualenv:
  system_site_packages: false
env:
  matrix:
    - PYTHON_VERSION="2.7" LATEST="true"
    - PYTHON_VERSION="3.7" LATEST="true"
    - PYTHON_VERSION="3.7" COVERAGE="false" NUMPY_VERSION="1.16.2" SCIPY_VERSION="1.2.1" PANDAS_VERSION="0.24.2"
    - PYTHON_VERSION="3.7" COVERAGE="true" LATEST="true"
install: source ./ci/.travis_install.sh
script: bash ./ci/.travis_test.sh
after_success:
    # Ignore coveralls failures as the coveralls server is not very reliable
    # but we don't want travis to report a failure in the github UI just
    # because the coverage report failed to be published.
    - if [[ "$COVERAGE" == "true" ]]; then coveralls || echo "failed"; fi
cache: apt
sudo: false
notifications:
  email:
    recipients:
      - mail@sebastianraschka.com
    on_success: always
    on_failure: always
